<div class="bg-dark text-white p-3 vh-100" style="width: 250px;">
  <h4 class="text-center">Admin Panel</h4>
  <hr>
  <ul class="nav flex-column">
    <li class="nav-item"><a href="#" class="nav-link text-white" data-page="workers">👷 Workers</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-page="employers">🏢 Employers</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-white" data-page="jobs">📋 Jobs</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-white" data-page="applications">📄 Applications</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-white" data-page="reviews">⭐ Reviews</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-danger" id="logout">🚪 Logout</a></li>
  </ul>
</div>
